@import "tailwindcss";

@theme {
    --color-mossgreen-light: #1dcd9f;
    --color-mossgreen-dark: #169976;
    --color-grey-dark: #222222;

    --color-properpurple: #591fce;
    --color-propertaqua: #0c9cee;
    --color-properteal: #3dbdc2;
    --color-limegreen: #a1f480;

    --color-soothingbg: #f8fafc;
}

.sour-gummy-light {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour-gummy-medium {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sour-gummy-bold {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.lexend-light {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.lexend-medium {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.lexend-semibold {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

.lexend-bold {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
